.wrapper {
  width: 1200px;
  height: 1200px;
  display: flex;
  margin: 50px auto;
  padding: 0 15px;
}

.main {
  width: 950px;
  padding: 20px 0;
  background-color: white;
  border-radius: 0 25px 25px 0;
}
