.wrapper {
  padding: 20px 0;
  background-color: rgb(182, 205, 212);
  border-radius: 25px 0 0 25px;
  overflow-y: scroll;
}

.sidebarMenu {
  max-width: 350px;
  & div {
    margin-right: -20px;
  }
  & span {
    margin-right: 20px;
  }
  & li:hover {
    border-radius: 15px;
    background-color: lightgray;
  }
  & :nth-child(5) {
    margin-bottom: 25px;
  }
}

.button {
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 30px;
  border-top: 1px solid lightgray;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    text-shadow: 2px 3px 10px #000000;
  }
}

.input {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  & div {
    margin-top: 0;
  }
  & input {
    border-radius: 5px;
  }
}

.inputField {
  max-width: 125px;
  margin-top: 7px;
}
