.wrapper {
  display: flex;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.listItem {
  max-height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;

  & :not(:last-child) {
    margin-right: 25px;
  }

  & :nth-child(odd) {
    min-width: 100px;
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
